<html>
  <head>
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <form id="form">
      <input id="desc" type="text" name="description" />
      <input type="submit" value="add" />
    </form>
    <span class="hidden" id="error">Somethihng went wrong</span>
    <ul id="list">
      {% for d in data %}
      <li>
        <input class="checkboxes" type="checkbox" data-id="{{ d.id }}" {% if d.completed %} checked {% endif %} />{{
        d.description }}
        <button class="deleteTodo" data-id="{{ d.id }}">&cross;</button>
      </li>
      {% endfor %}
    </ul>
  </body>

  <script>
    document.getElementById("form").onsubmit = function (e) {
      e.preventDefault();
      fetch("/todo/create", {
        method: "POST",
        body: JSON.stringify({
          description: document.getElementById("desc").value,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (jsonresponse) {
          const liItem = document.createElement("li");
          liItem.innerHTML = jsonresponse["description"];
          document.getElementById("list").appendChild(liItem);
          document.getElementById("error").classname = "hidden";
        })
        .catch(function () {
          document.getElementById("error").classname = "";
        });
    };
    const checkboxes = document.querySelectorAll('.checkboxes');
    for(let i = 0; i < checkboxes.length; i++){
      const checkbox = checkboxes[i];
      const item_id = checkbox.getAttribute("data-id")
      checkbox.onchange = function(e) {
        fetch('/todo/' + item_id + '/update-checked', {
          method: 'POST',
          body: JSON.stringify({
            'completed': e.target.checked
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
      }
    }
    const deleteButton = document.querySelectorAll('.deleteTodo');
    for(let i = 0; i < deleteButton.length; i++){
      const deletebox = deleteButton[i];
      const item_id = deletebox.getAttribute("data-id")
      deletebox.onclick = function(e) {
        fetch('/todo/'+item_id +'/delete-item', {
          method: 'DELETE'
        })
      }
    }
  </script>
</html>
